body
{
	/*background: url("img/tlo.jpg") no-repeat 0px 0px!important;*/
	background-color: #2f67aa;
	background-size: 100% 100%!important; 
	background-attachment: fixed!important;
	width: 100%;
	height: 100%!important;
	margin: 0!important;
	font-family: 'Fira Sans', sans-serif;
}

.calosc
{
	max-width: 1500px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 70px;
	background-color: #91887D;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 40px 0px rgba(48,32,13,1);
	-moz-box-shadow: 0px 0px 40px 0px rgba(48,32,13,1);
	box-shadow: 0px 0px 40px 0px rgba(48,32,13,1);
	color: #292929;
}

/*NAGŁÓWEK*/
.naglowek
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
}

.slajd-naglowek
{
	width:100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#nag
{
	width: 100%;
}
/*NAGŁÓWEK-KONIEC*/



/*INFORMACJE*/
.informacje
{
	background-color: #acbfc1;
	padding: 30px;
	color: #021a73;
	border-radius: 5px;
}

.tytul-strony
{
	font-size: 50px;
	font-weight: 900;
	letter-spacing: 2px;
	text-shadow:0 0 6px #6B6560;
}

.kropeczki
{
	height: 5px;
	margin-top: 15px;
	margin-bottom: 20px;
	border-bottom: 2px dotted #021a73;
}

.informacje a
{
	text-decoration: none;
	color: #021a73; 
}

.informacje a:hover
{
	color: #122930;
}

input[type=submit]
{
	width: 300px;
	background-color: #366DB0;
	font-size:20px;
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
	margin-left: 50px;
}

input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

input[type=submit]:hover
{
	background-color: #3772B9;
}

table, th, td 
{
    border: 1px solid #000000;
    background-color: white; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}

.okienko 
{
    margin: 10px;
}

.zapytania 
{
    width: 1195px;
    margin-left: auto;
    margin-right: auto;
}

.add_delete 
{
    width: 820px;
    margin-left: auto;
    margin-right: auto;
}

.zapytania table, .zapytania td, .add_delete table, .add_delete td
{
    border: 0px;
    border-radius: 0px;
    background-color: transparent; 
    margin: 0px;
}

.zapytanie
{
	display: inline-block;
	width: 380px;
	text-align: center;
	padding: 5px;
	transition: all 0.2s ease-in-out;
	border-radius: 3px;
	border: 2px solid #000;
}

.zapytanie:hover
{
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}

.pic, .zap
{
    color: #021a73;
    margin: 10px;
}

.add input[type=text]
{
	width: 300px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}

.add input[type=text]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #A5B9CD;
	background-color: #E9EEF3;
	color: #021a73;
}

.inquiry input[type=text]
{
	background-color: #efefef;
	color: #666;
	border: 2px solid #8da9c4;
	border-radius: 5px;
	outline: none;
}

.inquiry input[type=text]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #A5B9CD;
	background-color: #E9EEF3;
	color: #021a73;
}

.inquiry input[type=radio]
{
    display: none;
}

.inquiry label:before
{
    content: "";
    display: inline-block; 
    height: 9px;
    width: 9px;
    border-radius: 9px;
    background-color: #efefef;
    border: 2px solid #8da9c4;
    margin-left: 2px;
}

.inquiry input[type=radio]:checked + label:before
{
    content: "";
    display: inline-block; 
    height: 9px;
    width: 9px;
    border-radius: 9px;
    background-color: #8da9c4;
    border: 2px solid #efefef;
    margin-left: 2px;
}

/*INFORMACJE-KONIEC*/



/*SCROLLUP*/
.scrollup
{
	width: 64px;
	height: 64px;
	text-decoration: none;
	background: url("img/UP.png") no-repeat 0px 0px;
	position: fixed;
	right: 50px;
	bottom: 80px;
	display: none;
}
/*SCROLLUP-KONIEC*/

