{% include "stats/navbar.html" %}


    {% if res %}

         Athletes competing in {{ year }} Olympics ranked by won medals. <br><br>
        <table>
            <tr>
                <th><div class="okienko">Name</div></th>
                <th><div class="okienko">Number of gold medals</div></th>
                <th><div class="okienko">Number of silver medals</div></th>
                <th><div class="okienko">Number of bronze medals</div></th>
            </tr>
            {% for item in res %}
                <tr>
                    <td><div class="okienko">{{ item.player_id__name }}</div></td>
                    <td><div class="okienko">{{ item.gold_counts }}</div></td>
                    <td><div class="okienko">{{ item.silver_counts }}</div></td>
                    <td><div class="okienko">{{ item.bronze_counts }}</div></td>
                </tr>
            {% endfor %}
        </table>

    {% else %}
        
        {% include "stats/error_year.html" %}

    {% endif %}

{% include "stats/footer.html" %}
