{% include "stats/navbar.html" %}

    {% if res %}

        Athletes competing in {{ year }} Olympics ranked by their age. <br><br>
        <table>
            <tr>
                <th><div class="okienko">Name</div></th>
                <th><div class="okienko">Age</div></th>
            </tr>
            {% for item in res %}
                <tr>
                    <td><div class="okienko">{{ item.player_id__name }}</div></td>
                    <td><div class="okienko">{{ item.age }}</div></th>
                </tr>
            {% endfor %}
        </table>
    
    {% else %}
        
        {% include "stats/error_year.html" %}

    {% endif %}

{% include "stats/footer.html" %}
