{% include "stats/navbar.html" %}


{% if res %}

    Countries ranked by number of {{ color }} medals won in {{ year }} Olympics. <br> <br>

    <table>
        <tr>
            <th>
                <div class="okienko">Name of the country</div>
            </th>
            <th>
                <div class="okienko">Number of medals</div>
            </th>
        </tr>
        {% for item in res %}
            <tr>
                <td>
                    <div class="okienko">{{ item.country_code__country_name }}</div>
                </td>
                <td>
                    <div class="okienko">{{ item.medals_count }}</div>
                </td>
            </tr>
        {% endfor %}
    </table>

{% else %}

    {% include "stats/error_year.html" %}

{% endif %}


{% include "stats/footer.html" %}
