{% include "stats/navbar.html" %}

    {% if res %}
        Number of gold medals won by {{ country }} over the years. <br> <br>
        <table>
            <tr>
                <th><div class="okienko">Name of olympic games</div></th>
                <th><div class="okienko">Number of medals</div></th>
            </tr>
            {% for item in res %}
                <tr>
                    <td><div class="okienko">{{ item.games_id }}</div></td>
                    <td><div class="okienko">{{ item.medal_count }}</div></td>
                </tr>
            {% endfor %}
        </table>

    {% else %}
        
        <p> No results were found for this query. Make sure to give a correct country name. </p>

    {% endif %}
    

{% include "stats/footer.html" %}
