{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'stats/styl.css' %}">
<script src="{% static 'stats/scripts/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'stats/scripts/naglowek.js' %}"></script>

<!DOCTYPE HTML>
<html lang="pl">
<head>
    <meta charset="UTF-8"/>

    <title>Olympic statistics </title>

    <!--CZCIONKI-->
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <!--CZCIONKI-KONIEC-->

    <script> //SKRYPT ODPOWIADA ZA POJAWIENIE SIĘ PRZYCISKY SKROLUJĄCEGO DO GÓRY
    //(przydatne przy wyświetlaniu dużych tabel)

    jQuery(function ($) {
            //zresetuj scrolla
            $.scrollTo(0);

            $('.scrollup').click(function () {
                $.scrollTo($('body'), 1000);
            });
        }
    );

    //pokaż podczas przewijania
    $(window).scroll(function () {
            if ($(this).scrollTop() > 200) $('.scrollup').fadeIn();
            else $('.scrollup').fadeOut();
        }
    );

    </script>
</head>

<body onload="change()">
<a href="#" class="scrollup"></a>

<div class="calosc">
    <div class="naglowek">
        <img id="nag" class="slajd-naglowek"/>
    </div>
    <div class="informacje">
			<span class="tytul-strony">
                Olympic statistics
			</span>
        <div class="kropeczki"></div>


        
        <div class="zapytania">
            <div class="zapytanie" style="background-color: #75b6bb">
                <a href="Qby_age"> 
                    <table>
                        <tr>
                            <td> <div class="pic"><img src="{% static 'stats/img/pic/pic1.png' %}"></div> </td>
                            <td> <div class="zap"> Rank athletes competing <br> in a given Olympics <br> by their age  </div> 
                        </tr>
                    </table>
                </a>
            </div> 
            <div class="zapytanie" style="background-color: #e64c58">
                <a href="Qathletes_by_medals"> 
                    <table>
                        <tr>
                            <td> <div class="pic"><img src="{% static 'stats/img/pic/pic2.png' %}"></div> </td>
                            <td> <div class="zap"> Rank athletes competing <br> in a given Olympics <br> by won medals  </div> 
                        </tr>
                    </table>
                </a>
            </div> 
            <div class="zapytanie" style="background-color: #88c388">
                <a href="Qby_weight"> 
                    <table>
                        <tr>
                            <td> <div class="pic"><img src="{% static 'stats/img/pic/pic3.png' %}"></div> </td>
                            <td> <div class="zap"> Rank athletes competing <br> in a given Olympics <br> by their weight </div> 
                        </tr>
                    </table>
                </a>
            </div> 
            <div class="zapytanie" style="background-color: #f2b431">
                <a href="Qby_players"> 
                    <table>
                        <tr>
                            <td> <div class="pic"><img src="{% static 'stats/img/pic/pic4.png' %}"></div> </td>
                            <td> <div class="zap"> Rank participating <br> countries by number <br> of representing athletes </div> 
                        </tr>
                    </table>
                </a>
            </div> 
            <div class="zapytanie" style="background-color: #5a5e68">
                <a href="Qby_gold_medals">
                    <table>
                        <tr>
                            <td> <div class="pic"><img src="{% static 'stats/img/pic/pic5.png' %}"></div> </td>
                            <td> <div class="zap"> Show number of gold <br> medals won by a given <br> country over the years</div> 
                        </tr>
                    </table>
                </a>
            </div> 
            <div class="zapytanie" style="background-color: #75b6bb">
                <a href="Qcountries_by_medals">
                    <table>
                        <tr>
                            <td> <div class="pic"><img src="{% static 'stats/img/pic/pic6.png' %}"></div> </td>
                            <td> <div class="zap"> Rank countries <br> by number of won <br> medals of particular <br> color in a given year </div> 
                        </tr>
                    </table>
                </a>
            </div> 
            <div class="zapytanie" style="background-color: #e64c58">
                <a href="Qby_mean_height">
                    <table>
                        <tr>
                            <td> <div class="pic"><img src="{% static 'stats/img/pic/pic7.png' %}"></div> </td>
                            <td> <div class="zap"> Show the average height  <br> of females and males <br> in a given year </div> 
                        </tr>
                    </table>
                </a>
            </div> 
            <div class="zapytanie" style="background-color: #88c388">
                <a href="Qby_gender_ratio"> 
                    <table>
                        <tr>
                            <td> <div class="pic"><img src="{% static 'stats/img/pic/pic8.png' %}"></div> </td>
                            <td> <div class="zap"> Show sex demographics <br> in a given year </div> 
                        </tr>
                    </table>
                </a>
            </div> 
            <div class="zapytanie" style="background-color: #f2b431">
                <a href="Qby_athlete_count"> 
                    <table>
                        <tr>
                            <td> <div class="pic"><img src="{% static 'stats/img/pic/pic9.png' %}"></div> </td>
                            <td> <div class="zap"> Rank disciplines by <br> number of participants <br> in a given year </div> 
                        </tr>
                    </table>
                </a>
            </div> 
        </div>
        
        <br><br><br>
        
        <div class="add_delete"> 
             <div class="zapytanie" style="background-color: #75b6bb">
                <a href="add_data">
                    <table>
                        <tr>
                            <td> <div class="pic"><img src="{% static 'stats/img/pic/plus.png' %}"></div> </td>
                            <td> <div class="zap"> Add statistics to the database </div> 
                        </tr>
                    </table>
                </a>
            </div> 
            <div style="width: 20px; display: inline-block"> </div>
            <div class="zapytanie" style="background-color: #5a5e68">
                <a href="delete_data"> 
                    <table>
                        <tr>
                            <td> <div class="pic"><img src="{% static 'stats/img/pic/minus.png' %}"></div> </td>
                            <td> <div class="zap"> Delete athlete results from the database </div> 
                        </tr>
                    </table>
                </a>
            </div> 
        </div>

    </div>

</div>
</body>
</html>

