{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'stats/styl.css' %}">
<script src="{% static 'stats/scripts/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'stats/scripts/naglowek.js' %}"></script>

<!DOCTYPE HTML>
<html lang="pl">
<head>
    <meta charset="UTF-8"/>

    <title>Olympic statistics </title>

    <!--CZCIONKI-->
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <!--CZCIONKI-KONIEC-->

    <script> //SKRYPT ODPOWIADA ZA POJAWIENIE SIĘ PRZYCISKY SKROLUJĄCEGO DO GÓRY
    //(przydatne przy wyświetlaniu dużych tabel)

    jQuery(function ($) {
            //zresetuj scrolla
            $.scrollTo(0);

            $('.scrollup').click(function () {
                $.scrollTo($('body'), 1000);
            });
        }
    );

    //pokaż podczas przewijania
    $(window).scroll(function () {
            if ($(this).scrollTop() > 200) $('.scrollup').fadeIn();
            else $('.scrollup').fadeOut();
        }
    );

    </script>
</head>

<body onload="change()">
<a href="#" class="scrollup"></a>

<div class="calosc">
    <div class="naglowek">
        <img id="nag" class="slajd-naglowek"/>
    </div>
    <div class="informacje">
        <a href="/">
			<span class="tytul-strony">
                Olympic statistics
			</span>
        </a>
        <div class="kropeczki"></div>
