{% include "stats/navbar.html" %}


<div class="inquiry">	
    <form action="country/ranking/by_medals" method="get">
        Choose medal color:
        <input id="gold" type="radio" name="medal" value="gold"> <label for="gold">  gold </label>
        <input id="silver" type="radio" name="medal" value="silver"> <label for="silver"> silver </label>
        <input id="bronze" type="radio" name="medal" value="bronze"> <label for="bronze"> bronze </label>
        <br> <br>

        Choose year: <input type="text" name="year">
        <br>
        <input type="submit" value="show statistic">
    </form>
</div>   


{% include "stats/footer.html" %}
